{% extends 'base.html' %}
{% block title %}
  Articles list
{% endblock %}
{% block body %}
  <h2>Articles (count: {{ count_articles }}, obtained from RPC call):</h2>
  <div>
      <table>
          <tbody>
              <tr>
                  <th>Number</th><th>Title</th><th>Author</th>
              </tr>
              {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td><a href="{{ url_for('articles_app.details', article_id=article.id) }}">{{ article.title }}</a></td>
                    <td><a href="{{ url_for('users_app.profile', pk=article.author.id) }}">{{ article.author.user.last_name }}</a></td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
{% endblock %}